{% extends 'registro/main.html'%}

{% load static %}

{% block head %}
    <title>DUOC - Administrar Personas</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/mantenedor_personas.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/mantenedor_personas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.bootstrap4.min.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static '/css/dataTables.custom.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-right p-2">
      <a type="button" class="btn btn-primary" href="{% url 'crear_persona' %}"><i class="fa fa-plus-square"></i> Agregar Persona</a>
    </div>
    
    <div class="col-12">
      <table id="registro" class="table table-striped table-bordered" style="width:100%">
        <thead>
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
          <tbody>
            {% for i in personas %}
              <tr>
                <td>{{i.rut}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.correo}}</td>
                <td>{{i.tipo}}</td>
                <td>
                  <a type="button" class="btn btn-success" href="{% url 'actualizar_persona' i.rut  %}"><i class="fas fa-edit"></i></a>
                  <a type="button" class="btn btn-danger" href="{% url 'borrar_persona' i.rut  %}"><i class="far fa-trash-alt"></i></a>
                </td>     
              </tr>
            {% endfor %}
          </tbody>
        <tfoot>
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </tfoot>
      </table>
    </div>  
  </div>  
 </div>
{% endblock %} 

{% block js %}
<script src="{% static '/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static '/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static '/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static '/js/jszip.min.js' %}"></script>
<script src="{% static '/js/pdfmake.min.js' %}"></script>
<script src="{% static '/js/vfs_fonts.js' %}"></script>
<script src="{% static '/js/buttons.html5.min.js' %}"></script>
<script src="{% static '/js/dataTables.custom.js' %}"></script>
{% endblock %}
